/* view port 
  width = 1920px
  height = 4895px
*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 21px;
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 700px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-left: 21%;
  margin-right: 17.9%;
}

.header__logo {
  width: 4.5vw; 
  height: 4.5vh;
  padding-left: 0.6vw;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35.1vw;
  letter-spacing: 2px;
}


.greeting {
  display: flex;
  justify-content: space-between;
  margin-top: 20vh;
  margin-left: 488px;
  margin-right: 405px;
}