/* view port 
  width = 1920px
  height = 950px
  heightALL = 4895px
*/

body {
  width: 100%;
  margin: 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin: 0 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 21px;
}

a {
  text-decoration: none;
  color: #000000;
}

.soft__text {
  color: #727272;
  line-height: 26.8px;
}

text-web-together {
  white-space: nowrap;
}

/*  */

header {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: #EEEFF1;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 17%;
  padding-top: 0.5%;
}

.header__logo {
  width: 27%;
  height: 27%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 52%;
  letter-spacing: 2px;
}

nav a:hover {
  color: #34547A;
}


.greeting {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 26%;
  margin-right: 18%;
}

.greeting__image {
  padding-top: 2%;
}

.greeting__intro {
  padding-left: 13%;
}

.greeting__text {
  padding-top: 5%;
}

.greeting__send {
  display: flex;
  background-color: #34547A;
  height: 26%;
  width: 43%;
  margin-top: 12%;
  align-items: center;
  text-align: center;
}

.greeting__send-link {
  letter-spacing: 2px;
  flex-grow: 1;
  color: #ffffff;
}

/* w 1920 h 366  */
/* w 540 h 147 lr 690 t 119 b 100 */
.about-me {
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 38%;
  padding-right: 33%;
  padding-top: 7%;
  padding-bottom: 4%;
  text-align: center;
}

/* h 250 */
.works {
  display: flex;
  justify-content: space-between;
  background-color: #34547A;
  height: 26vh;
}

/* h 50 tb 100 lr 415 */
.works__list {
  display: flex;
  justify-content: space-between;
  margin: 5.5% 0;
  margin-right: 18%;
  margin-left: 22%;
  flex-grow: 1;
  list-style: none;
  padding-inline-start: 0;
}

/* w 141 */
.works__current {
  width: 13%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.works__couple {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.works__image {}

.works__count {}

.works__text {
  margin: 0;
}

/* w 1150 h 450 tb 100 lr 385 */

.my-skills {
  display: flex;
  justify-content: space-between;
  margin-top: 5.5%;
  margin-bottom: 4%;
  margin-left: 16%;
  margin-right: 16%;
}

.my-skills__part {
  width: 31%;
  padding-top: 8%;
  padding-bottom: 9%;
  padding-left: 7.5%;
}

.my-skills__h2 {
  margin-bottom: 0%;
}

.skills-count {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 0 0;
  margin-top: 3%;
  list-style: none;
}

.skills-count__exp {}

.skills-count__exp-text {
  margin-top: 10%;
}

.skills-count__uncompleted {
  position: absolute;
  height: 1.5%;
  width: 15%;
  padding-left: 9%;
}

.skills-count__completed {
  position: absolute;
  height: 1.5%;
  width: 15%;
}

/* h 1004 tb 100 lr 400 */

.how-work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 20%;
  background-color: #eeeff1;
}

.how-work__text {
  text-align: center;
  padding: 0 23%;
}

.how-work__show {}

.how-work__play {
  position: relative;
  bottom: 375px;
}

/* .work-images */

.work-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 99vh;
}

.img-div-1 {
  background: url(img/7-work1.png);
  background-size: cover;
}

.img-div-2 {
  background: url(img/8-work2.png);
  background-size: cover;
}

.work-images__img-div {
  display: flex;
  align-items: center;
}

.work-images__img-div>div {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 25%;
  height: 49.5%;
  transition: opacity 1s ease-out;
  background-color: rgba(52, 84, 122, 0.8);
}

.img-div__layer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-div__layer:hover {
  opacity: 0.7;
}

/* 
.work-images__img-div {
  transition: 2s;
  filter: grayscale(100%);

}

.work-images__img-div:hover {
  transition: 2s;
  filter: grayscale(0%);
}
 */


/* w 540 h 600 t 100 b 200 rl 690 */
.ask-for-site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EEEFF1;
  height: 60vh;
  padding-top: 6.5%;
  padding-bottom: 4%;
  padding-left: 33.5%;
  padding-right: 29%;
  align-items: center;
}

.ask-for-site__h2 {
  text-align: center;
}

.ask-for-site__text {
  margin: 0;
  padding: 0 11%;
  text-align: center;
}

.ask-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 80%;
}

.ask-form__name,
.ask-form__email,
.ask-form__text {
  border: none;
}

.ask-form__couple {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.ask-form__name {
  padding-left: 12px;
  width: 45%;
  height: 300%;
}

.ask-form__email {
  padding-left: 12px;
  width: 45%;
  height: 300%;
}

.ask-form__text {
  padding-left: 12px;
  padding-top: 3%;
  height: 40%;
  resize: none;
}

/* 190 55 */
.ask-form__submit {
  border: none;
  background-color: #34547A;
  color: #ffffff;
  width: 35%;
  height: 13%;
  align-self: center;
  margin-bottom: 6%;
}

/* h 151 */
footer {
  display: flex;
  height: 15vh;
  background-color: #34547A;
  justify-content: space-around;
  align-items: center;
}

.footer__part-name {
  color: #ffffff;
  margin-left: 6%;
}

.footer__name {}

.footer__copyright {
  font-size: 12px;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  width: 9.5%;
  margin-left: 10%;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {

  h1 {
    font-size: 36px;
  }

  header {
    height: 97vh;
  }

  .header__top {
    margin: 0;
    padding: 0;
  }

  .header__logo {
    width: 42%;
    height: 42%;
    margin-top: 5%;
    margin-left: -4%;
  }

  nav {
    display: none;
  }

  .greeting {
    height: 75%;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }


  .greeting__image {
    height: 300px;
    width: 300px;
  }


.greeting__intro {
  height: 49%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.greeting__text {
  text-align: center;
  line-height: 19px;
  padding: 0% 7%;
}

.greeting__send {
  margin: 0;
  width: 60%;
  height: 22%;
}

/* about-me */

.about-me {
  height: 24vh;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 22%;
  padding-bottom: 19%;
}

.about-me__text {
  line-height: 19px;
}

/* works */

.works {
  height: 58vh;
}

.works__list {
  display: grid;
  height: 52vh;
  grid-template-columns: 1fr 1fr;
  margin: 7% 0;
}

.works__current {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.works__couple {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 10%;
}

/* skills */

.my-skills {
  margin: 0;
  padding: 0;
  height: 100vh;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}


.my-skills__part {
  width: 100%;
  height: 50%;
  padding: 0;
  padding-top: 25%;
}


.my-skills__h2 {
  text-align: center;
}

.skills-count {
  height: 60%;
  align-items: flex-start;
  margin-left: 5%;
}


.skills-count__exp {
  width: 95%;
  height: 50%;
}

.skills-count__exp-text {
  margin: 0;
  margin-top: 10%;
  margin-bottom: -5%;
}

.skills-count__uncompleted {
  position: absolute;
  height: 6%;
  width: 80%;
  padding-left: 9%;
}

.skills-count__completed {
  position: absolute;
  height: 6%;
  width: 70%;
}

.my-skills__face {
  margin-top: 24%;
  display: block;
  width: 342px;
  height: 265px;
}

/* how work */

.how-work {
  padding: 0; margin: 0;
  height: 74vh;
}

.how-work__h2 {
  margin-top: 26%;
}

.how-work__text {
  text-align: center;
  padding: 0 7%;
  margin-top: 10%;
  line-height: 19px;
}

.how-work__show {
  width: 342px;
  height: 185px;
  margin-top: 11%;
}

.how-work__play {
  position: relative;
  bottom: 140px;
  width: 20%;
  height: 14%;
}

/* .work-images */


.work-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 99vh;
}


#img-div1 {
  grid-column: 2;
  grid-row: 2;
}

#img-div2 {
  grid-column: 1;
  grid-row: 2;
}

#img-div3 {
  grid-column: 2;
  grid-row: 3;
}

#img-div4 {
  grid-column: 1;
  grid-row: 3;
}

.work-images__img-div>div {
  width: 50%;
  height: 25%;
}

}